table{
	width: 50%; /* Ширина таблицы */
}
.trz{
	background: #f5e8d0; /* Цвет фона заголовка */
}
td, tr{
	padding: 5px; /* Поля в ячейках */
	/* Параметры рамки */
}
tbody tr:nth-child(even){
	background: #f0f0f0; /* Зебра */
}
a:link {
  color: #C789e9; 
  
}
a:visited {
  color: #EF7D55;
}
a:hover {
  color: #154088; 
  
}
a:active {
  color: #497DDD; 
 border: 1px solid #333; 
}
